@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2.1875em;
  /* margin: 0 0 17.5px; */
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  text-align: center;
}

small {
  font-size: 0.8125em;
  /* padding-right: 20px; */
  text-align: center;
}

.hero-image {
  position: absolute;
  height: 100vh;
  width: 100%;

  background-image: url("/sabg2.jpg");
  filter: brightness(40%);
  /* PARALLAX SCROLLING */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

.hero-image-mobile {
  position: absolute;
  height: 100vh;
  width: 100%;

  background-image: url("/hero.jpg");
  filter: brightness(40%);
  /* PARALLAX SCROLLING */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.video-test {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  position: fixed;
  filter: brightness(40%);
  pointer-events: none;
  z-index: -1;
}

.info-text-container {
  padding: 2.5rem;
}

.info-text {
  font-size: 20px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #c18f3b;
}

.sub-info-container {
  width: 750px;
  padding: 15px;
  gap: 10px;

}

.sub-info-text {
  font-size: 11px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  padding: 2px;
}

.sub-info-text-long {
  font-size: 11px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}

.home-link {
  text-decoration: underline;
}

.home-link:hover {
  opacity: 0.6;
}

.logo:hover {
  opacity: 0.6;
}

.vid-container {
  height: 30vw;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.content-info {
  font-size: 14px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  padding-top: 20px;
}

.button {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 10%;
  transition: opacity 0.4s ease;
  width: 100px;
}

.button:hover {
  opacity: 0.5;
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100%;

  /* background-image: url("/satest.jpg"); */
  filter: brightness(40%);
  /* PARALLAX SCROLLING */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit:cover; */
  z-index: -10;
}

@media screen and (max-width: 1700px) {
  .sub-info-container {
    width: 500px;
  
  }
}

@media screen and (max-width: 1500px) {
  .vid-container {
    padding: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .content-container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .vid-container {
    padding: 0;
    width: 100vw;
    height: 40vw;
  }

  .content-info {
    padding: 0;
    width: 100%;
  }

  .sub-info-text-long {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .info-text-container {
    padding: 1rem;
  }
  .vid-container {
    width: 100vw;
  }

  .sub-info-container {
    width: 250px;
  }
}
