@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
  font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2.1875em;
  /* margin: 0 0 17.5px; */
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  text-align: center;
}

small {
  font-size: 0.8125em;
  /* padding-right: 20px; */
  text-align: center;
}

.hero-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1)
    ),
    url("/sabg2.jpg");
  /* PARALLAX SCROLLING */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

.hero-image-mobile {
  position: absolute;
  height: 100vh;
  width: 100%;

  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1)
    ),
    url("/hero.jpg");
  /* PARALLAX SCROLLING */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

.nav-info-text {
  color: #fff;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.video-test {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  position: fixed;
  /* filter: brightness(40%); */
  pointer-events: none;
  z-index: -1;
}

.info-text-container {
  padding: 2.5rem;
}

.info-text {
  font-size: 20px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #c18f3b;
}

.sub-info-container {
  width: 670px;
  padding: 15px;
  gap: 10px;
}

.sub-info-text {
  font-size: 11px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  padding: 2px;
  color: #fff;
}

.sub-info-text-long {
  font-size: 11px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  color: #fff;
}

.home-link {
  color: #fff;
  text-decoration: underline;
}

.home-link:hover {
  opacity: 0.6;
}

.logo:hover {
  opacity: 0.6;
}

.vid-container {
  height: 40vh;
  width: 50vw;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
}

.vid-container2 {
  height: 40vh;
  width: 50vw;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
}

.content-info {
  font-size: 14px;
  font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  padding-top: 20px;
}

.button {
  border: 1px solid #fff;
  padding: 10px;
  transition: opacity 0.4s ease;
  width: 150px;
  color: #fff;
}

.button:hover {
  opacity: 0.7;
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100%;

  /* background-image: url("/satest.jpg"); */
  /* filter: brightness(40%); */
  /* PARALLAX SCROLLING */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit:cover; */
  z-index: -10;
}

.divider {
  width: 95%;
  background-color: #fff;
  height: 1px;
}

.menu-icon {
  color: white;
  position: absolute;
  top: 35px;
  right: 35px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.side-navigation-container {
  position: absolute;
  top: 0;
  right: 0;
  background: hsl(202.03deg 78.54% 67.22% / 5%);
  height: 100vh;
  padding: 25px;
  width: 70vw;
  backdrop-filter: blur(15px);
  z-index: 100;
  /* transform: translate(-100%); */
}

.side-navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.enter-text {
  color: #fff;
  align-items: center;
  position: absolute;
  gap: 10px;
  left: 50%;
  bottom: 15%;
  font-size: 30px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.enter-text:hover {
  opacity: 0.7;
}

.content-container {
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1700px) {
  .sub-info-container {
    width: 500px;
  }
}

@media screen and (max-width: 1500px) {
  .vid-container {
    /* padding: 50px; */
  }
}

@media screen and (max-width: 1000px) {
  /* .content-container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  } */
  .vid-container {
    padding: 0;
    width: 100vw;
    height: 40vw;
  }

  .content-info {
    padding: 0;
    width: 100%;
  }

  .sub-info-text-long {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .info-text-container {
    padding: 1rem;
  }
  .vid-container {
    margin-bottom: 15px;
    width: 100vw;
  }

  .sub-info-container {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .logo-text {
    width: 320px !important;
    /* height: 450px !important; */
  }
}

@media screen and (max-width: 550px) {
  .logo-text {
    width: 300px;
    /* height: 300px; */
  }
}
